.recipes-container__pagination-nav {
  margin-top: 15px;
  margin-bottom: 35px;
}

.pagination-nav {
  display: flex;
  justify-content: center;
}

.pagination {
  list-style-type: none;
  display: flex;
}

.pagination__list-item {
  margin: 0 3px;
  height: 35px;
  min-width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.pagination__link {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  color: black;
}

/* Current Page */
.pagination__list-item--current {
  cursor: default;
  border: 1px solid black;
  border-radius: 3px;
  pointer-events: none;
}

.pagination__link--current {
  color: #7b61ff;
}

/* Disabled */
.pagination__list-item--disabled {
  cursor: default;
  pointer-events: none;
}

.pagination__link--disabled {
  color: #e5e5e5;
}

/* On hover colors change */
.pagination__list-item--active:hover .pagination__link {
  color: #7b61ff;
}

/* Next and Previous buttons icons */
.pagination__link--next {
  padding-right: 20px;
  background-image: url('../../../assets/icon-arrow-thin-big-w15-right-black.svg');
  background-repeat: no-repeat;
  background-position: top 55% right 0;
}

.pagination__link--disabled.pagination__link--next {
  background-image: url('../../../assets/icon-arrow-thin-big-w15-right-grey.svg');
}

.pagination__link--previous {
  padding-left: 20px;
  background-image: url('../../../assets/icon-arrow-thin-big-w15-left-black.svg');
  background-repeat: no-repeat;
  background-position: top 55% left 0;
}

.pagination__link--disabled.pagination__link--previous {
  background-image: url('../../../assets/icon-arrow-thin-big-w15-left-grey.svg');
}

/* On hover colors change */
.pagination__list-item--active:hover .pagination__link--previous {
  background-image: url('../../../assets/icon-arrow-thin-big-w15-left-purple.svg');
}
.pagination__list-item--active:hover .pagination__link--next {
  background-image: url('../../../assets/icon-arrow-thin-big-w15-right-purple.svg');
}

@media screen and (min-width: 800px) {
  .recipe-finder-app__recipes-container {
    margin-top: 25px;
  }
}
