/* react-widgets error fixes */
$font-path: 'react-widgets/lib/fonts';
$img-path: 'react-widgets/lib/img';

/* override Combobox styling */
$input-color: black;
$widget-border: #828282;
$border-radius: 22px;
$list-border-focus: black;
$input-border-focus: #828282;
$input-height: 44px;

$input-focus-box-shadow: none;

.rw-widget-input {
  font-weight: 100 !important;
  font-size: 1rem !important;
}

.rw-select-bordered {
  border: none !important;
}

@import 'react-widgets/lib/scss/react-widgets.scss';
