.modal-content__btn--type--checkbox.modal-content__btn--checked {
  background-image: url('Assets/icon-checkbox-black-ticked.svg');
  color: var(--color-purple);
}

/* Filter by ingredients */
.modal-content__ingredients-input {
  margin: 0 auto;
}

.ingredients-input {
  width: 70%;
}

/* Active Ingredient Filters List */
.modal-content__ingredients-list {
  margin: 25px auto;
}

.ingredients-list {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.ingredients-list__item {
  font-size: 0.9375rem;
  padding-left: 10px;
  padding-right: 30px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  line-height: 2;
  color: white;
  background-color: var(--color-purple);
  background-image: url('Assets/icon-cross-ingredients.svg');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px #dcdcdc;
}

/* Typography */
.ingredients-list__item {
  text-transform: capitalize;
}

/* Combobox */
.rw-widget-input::placeholder {
}
