/* button layout */
.choose-category-btn-container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0px;
  flex-shrink: 2;
}

.choose-category-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.choose-category-btn__text {
  padding-right: 5px;
}

.choose-category-btn__img {
  padding-right: 10px;
  width: 25px;
}

/* typography */
.choose-category-btn__text {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9375rem; /* 15px for 16px html */
  font-weight: 400;
  font-style: normal;
}

.choose-category-btn,
.choose-category-btn__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
