.recipe-finder-app__recipe-details {
  margin: 20px auto;
  grid-area: sidebar / sidebar / main / main;
}

.recipe-details {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  text-align: center;
  color: var(--color-grey-3);
}

@media screen and (min-width: 800px) {
  .recipe-details {
    font-size: 2rem;
  }
}
