.recipes-container__pagination-nav {
  margin-top: 15px;
  margin-bottom: 35px;
}

.pagination-nav {
  display: flex;
  justify-content: center;
}

.pagination {
  list-style-type: none;
  display: flex;
}

.pagination__list-item {
  margin: 0 3px;
  height: 35px;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination__link {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  color: black;
}

/* Current Page */
.pagination__list-item--current {
  cursor: default;
}

.pagination__link--current {
  color: #7b61ff;
}

/* Disabled */
.pagination__list-item--disabled {
  cursor: default;
}

.pagination__link--disabled {
  color: #e5e5e5;
  pointer-events: none;
}

/* On hover colors change */
.pagination__list-item--active:hover .pagination__link {
  color: #7b61ff;
}

/* Next and Previous buttons icons */
.pagination__link--next {
  padding-right: 20px;
  margin-right: -20px;
}
.pagination__link--previous {
  padding-left: 20px;
  margin-left: -20px;
}

.pagination__list-item--next::after,
.pagination__list-item--previous::before {
  content: '';
  display: block;
  height: 100%;
  width: 10px;
  background-repeat: no-repeat;
}

.pagination__list-item--next::after {
  padding-left: 15px;
  background-position: top 55% right 50%;
}
.pagination__list-item--active.pagination__list-item--next::after {
  background-image: url('../../assets/icon-arrow-thin-big-w15-right.svg');
}
.pagination__list-item--disabled.pagination__list-item--next::after {
  background-image: url('../../assets/icon-arrow-thin-big-w15-right-grey.svg');
}

.pagination__list-item--previous::before {
  padding-right: 15px;
  background-position: top 55% left 50%;
}
.pagination__list-item--active.pagination__list-item--previous::before {
  background-image: url('../../assets/icon-arrow-thin-big-w15-left.svg');
}
.pagination__list-item--disabled.pagination__list-item--previous::before {
  background-image: url('../../assets/icon-arrow-thin-big-w15-left-grey.svg');
}

@media screen and (min-width: 800px) {
  .recipe-finder-app__recipes-container {
    margin-top: 25px;
  }
}
