.recipe-finder-app__navbar {
  margin: 0 25px;
  margin-top: 10px;
  height: 45px;
}

/* Navbar layout */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__links-list {
  display: none;
}

.navbar__link {
  pointer-events: none; /* temp */
  color: black;
}

/* Logo */
.navbar__list-item--logo {
  margin-left: 20px;
  margin-right: auto;
}

/* Sign In and Sign Out Buttons */
.navbar__link--sign-in,
.navbar__link--sign-up {
  padding: 9px 11px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.navbar__link--sign-in {
  border: 2px solid var(--color-purple);
  color: var(--color-purple);
}

.navbar__link--sign-up {
  border: 2px solid var(--color-purple);
  background-color: var(--color-purple);
  color: white;
}

/* Typography */
.navbar__links-list {
  font-family: 'Roboto';
  font-size: 1.125rem;
  font-weight: 700;
}

@media screen and (min-width: 800px) {
  .recipe-finder-app__navbar {
    height: unset;
    grid-area: navbar;
  }

  /* Links section */
  .navbar__links-list {
    display: flex;
    align-self: stretch;
    align-items: stretch;
    justify-content: flex-end;
  }

  .navbar__list-item {
    margin-left: 30px;
    display: flex;
    align-items: center;
  }

  /* Burger Menu Button */
  .navbar--burger-menu {
    display: none;
  }
}
