/* button layout */
.reset-filters-container {
  display: flex;
  align-items: center;
}

.reset-filters-container img {
  padding-left: 10px;
  width: 30px;
}

#reset-filters-button {
  display: flex;
  align-items: center;
  height: 100%;
}
