/* Recipe card layout */
.recipe-card {
  height: 150px;
  display: grid;
  grid-template-columns: 105px 1fr;
  gap: 20px;
  padding: 10px;
  padding-bottom: 30px;
}

.recipe-card img {
  align-self: center;
  max-height: 100%;
}

.recipe-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-macro-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-macro {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  max-width: 280px;
}

/* Typography */
.recipe-card {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.recipe-info-container > h3 {
  font-size: 1.1rem;
  font-weight: 700;
}

.recipe-info-container p.recipe-macro-per-serving {
  font-size: 0.8rem;
  font-weight: 100;
  color: #828282;
}

.recipe-info-container .recipe-macro-detail > h4 {
  text-align: center;
  font-weight: 400;
}
.recipe-info-container .recipe-macro-detail > p {
  text-align: center;
  font-weight: 100;
  font-size: 0.8rem;
  color: #828282;
}

@media screen and (min-width: 800px) {
  .recipe-card {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 30px 20px;
    margin: 10px 15px;
    border-radius: 20px;
  }

  .recipe-card > img {
    flex: 0 auto;
  }

  .recipe-info-container {
    flex: 1 auto;
    align-items: center;
    padding-bottom: 10%;
  }

  .recipe-macro-container {
    display: none;
  }

  .recipe-macro {
    padding-right: 0px;
    min-width: 200px;
  }

  .recipe-card:hover .recipe-macro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Hover transition */
  .recipe-card:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 97%);
  }

  .recipe-card:hover > img {
    padding-top: 10%;
    height: 120px;
  }

  .recipe-card:hover .recipe-info-container > h3 {
    font-size: 1.3rem;
  }

  /* Typography */
  .recipe-info-container > h3 {
    font-weight: 400;
    text-align: center;
  }
}
