@media screen and (min-width: 800px) {
  /* app layout */
  .recipe-finder-app {
    display: grid;
    grid-template-columns: 320px 1fr;
    max-width: 1400px;
    min-width: 800px;
    width: 80%;
    margin: 0 auto;
  }
}
