/* filters bar layout */
.filters-bar {
  display: flex;
  justify-content: space-around;
  margin: 0 25px 25px 25px;
  height: 40px;
}

.filters-bar > * {
  flex-grow: 1;
  justify-content: space-around;
}

/* separators */
.filters-bar :not(:first-child)::before {
  content: '';
  display: block;
  width: 1px;
  height: 20px;
  background-color: rgba(130, 130, 130, 0.7);
}
